.container{
    width: 1296px;
    margin: 0 auto;
}
.header-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 32px;
}
.middle-part-list{
    display: flex;
}

.left-part-header{
display: flex;
    justify-content: space-between;
    width: 664px;
}
.logo{
    text-decoration: none;
    color: #000;
    font-family: Quicksand;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 38.4px */
    margin-right: 44px;

}
.left-header-button{
    position: relative;
    width: 98px;
    height: 40px;
    border-radius: 4px;
    background: #0F8277;
    border: none;
    color: #EEE;
padding-right: 28px;
    font-family: Quicksand;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 19.2px */
    margin-right: 44px;



}
.left-header-button:after{
    position: relative;
    cursor: pointer;

    margin:20px;
    width: 66px;
    height: 30px;

}
.arrow-left{
    position: absolute;

    background-color: #ffffff;
    top: 19px;
    left: 77px;
    width: 8px;
    height: 3px;
    display: block;
    transform: rotate(35deg);
    float: right;
    border-radius: 2px;
}

.arrow-right{
    position: absolute;
    background-color: #ffffff;
    top: 19px;
    left: 81px;
    width: 8px;
    height: 3px;
    display: block;
    transform: rotate(-35deg);
    float: right;
    border-radius: 2px;
}

.drop-down{

    display: inline-block;


}
.drop-down-items {
    display: none;
position: absolute;

    color: #000;
    font-family: Quicksand;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 19.2px */
    background: #FFF;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.25);
    width: 384px;

    padding: 10px;


}

.second-item {
    padding-bottom: 40px;
    border-bottom: 1px solid black;
}
.drop-down-title{
    margin-top: 24px;
    color: #000;
    font-family: Quicksand;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 19.2px */

}
.drop-down-items a {
    display: block;
    text-decoration: none;
    color: black;
    padding: 16px;
}

.drop-down:hover .drop-down-items {
    display: block;
}
input{
    padding-left: 10px;
    color: #5C5C5C;
    font-family: Quicksand;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 19.2px */
}
.header-input{
  width: 200px;
    height: 30px;
    color: #0F8277;
    padding-right: 44px;
    margin-right: 20px;

}
.input-search{
    position: relative;
top: 1px;
    left: -62px;
    width: 12px;
    height: 14px;
    padding: 10px;
    background-color: #0F8277;
    border-radius: 1px;
}

.middle-part-item a{
    text-decoration: none;
    color: #000;
    font-family: Quicksand;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 19.2px */
    list-style-type: none;
    margin-right: 48px;
}
.login-button{
    border: none;
    color: #0F8277;
    background-color: white;
    text-align: center;
    font-family: Quicksand;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 19.2px */
    margin-right: 16px;

}
.signup-button{
    color: #EEE;
    background-color: #0F8277;
    border: none;
    border-radius: 4px;
text-align: center;
    width: 80px;
    height: 40px;
    text-align: center;
    font-family: Quicksand;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 19.2px */
}
.about-us-section{
    border-radius: 12px;
    background-color: #DBF3ED;
    display: flex;
    justify-content: space-around;
 margin-bottom: 80px;
}
.about-us-section-menu{
    width: 512px;
    height: 248px;
    padding-top: 170px;

}
.about-us-title{
    color: #000;
    font-family: Quicksand;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 67.2px */
    margin-bottom: 32px;
}
.about-us-text {
    color: #000;
    font-family: Quicksand;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 26.4px */
    margin-bottom: 32px;

}
.about-us-section-img{
    padding-top: 40px;
    margin-bottom: 30px;
}
.start-learning-button {
    border-radius: 4px;
    background: #0F8277;
    width: 132px;
    height: 40px;
    border: none;
    color: #EEE;
    text-align: center;
    font-family: Quicksand;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 19.2px */
  margin-right: 24px;
}
.start-learning-button a{
    text-decoration: none;
    color: #EEE;

}
.learn-more-button{

    background: transparent;
    color: #0F8277;
    width: 132px;
    height: 40px;
    border-radius: 4px;
    border: 2px solid #0F8277;
    text-align: center;
    font-family: Quicksand;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 19.2px */
}
.green-title{
    color: #0F8277;
    font-family: Quicksand;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 24px */
    margin-bottom: 12px;
}
h2{
    color: #000;
    font-family: Quicksand;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 48px */
    margin-bottom: 40px;
}
.section-description{
    color: #000;
    font-family: Quicksand;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 24px */
    margin-bottom: 40px;
}
#our-programs-section{
    margin-bottom: 80px;
}
.product-card-wrapper{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
.product-card{
    width: 416px;
    height: 480px;
    border-radius: 8px;
    border: 1px solid #DADADA;
}
.product-card a{
    text-decoration: none;
}
.product-img{
    width: 416px;
    height: 270px;
    margin-bottom: 28px;
    border-radius: 8px;
}
.product-logo{
    display: flex;
    margin-bottom: 16px;
    margin-left: 16px;

}
.logo-description {
text-align: center;
    color: #000;
    font-family: Quicksand;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 19.2px */
    margin-left: 12px;
}
 .product-description{
     color: #000;
     font-family: Quicksand;
     font-size: 24px;
     font-style: normal;
     font-weight: 700;
     line-height: 120%; /* 28.8px */
     margin-bottom: 78px;
     margin-left: 16px;

 }

 .bottom-content{
     display: flex;
     color: #0F8277;
     font-family: Quicksand;
     font-size: 16px;
     font-style: normal;
     font-weight: 500;
     line-height: 120%; /* 19.2px */
     margin-left: 16px;



 }
 .bottom-content img{
     margin-right: 12px;
     margin-bottom: 12px;
 }

 .product-course-card{
     width: 300px;
     height: 540px;
     border-radius: 8px;
     border: 1px solid #DADADA;
 }
 .product-course-card a{
     text-decoration: none;
 }
.product-course-img{
    width: 300px;
    height: 306px;

    margin-bottom: 28px;
    border-radius: 8px;
}
.bottom-content-extra{
    display: flex;
    color: #0F8277;
    font-family: Quicksand;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 19.2px */
    margin-left: 16px;
    padding-top: 30px;


}
.section-button{
display: flex;
    align-items: center;
width: 200px;
    height: 20px;
    color: #0F8277;
    font-family: Quicksand;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 24px */
    margin-left: 556px;
    border: none;
    background-color: white;
    margin-bottom: 43px;
}
.section-button img{
    padding-left: 10px;
}
.topics-wrapper{
    display: flex;
    justify-content: space-between;
}
.future-title{
    display: block;
    color: #000;
    font-family: Quicksand;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 28.8px */
    padding-bottom: 32px;

}
.future-item{
    color: #0F8277;
    font-family: Quicksand;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 24px */
    padding-bottom: 32px;
}
.future-description{
    color: #000;
    font-family: Quicksand;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 19.2px */
}
.partners-section{
    background-color: #DBF3ED;
    height: 382px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;


}
.partners-title {
    margin: 80px 0 60px 0 ;
    width: 871px;
    color: #000;
    text-align: center;
    font-family: Quicksand;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 48px */

}
.partners-wrapper{

    display: flex;
    align-items: center;


}
.partners-item{
margin-right: 40px;

}
.partners-description{
    width: 568px;
    color: #000;
    font-family: Quicksand;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 26.4px */
    margin-bottom: 32px;
}
.partners-list{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    margin-bottom: 70px;
    width: 588px;
    height: 412px;
}
.loreal{
    background-image: url("/img/image 23.png");
    border-right: 1px solid #BABABA;
    border-bottom: 1px solid #BABABA;
    width: 196px;
    height: 136px;
    background-repeat: no-repeat;
    display: flex;
    background-position: center;

}
.pg{
    background-image: url("/img/image 24.png");
    border-bottom: 1px solid #BABABA;
    width: 196px;
    height: 136px;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
}


.reliance{
    background-image: url("/img/image 28.png");
    border-left: 1px solid #BABABA;
    border-bottom: 1px solid #BABABA;
    width: 196px;
    height: 136px;
    background-repeat: no-repeat;
    display: flex;
    background-position: center;

}
.danone{
    background-image: url("/img/image 26.png");
    border-bottom: 1px solid #BABABA;
    border-right: 1px solid #BABABA;

    width: 196px;
    height: 136px;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
}
.tata{
    background-image: url("/img/image 25.png");
    border-bottom: 1px solid #BABABA;
    width: 196px;
    height: 136px;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
}

.emirates{
    background-image: url("/img/image 27.png");
    border-left: 1px solid #BABABA;
    border-bottom: 1px solid #BABABA;
    width: 196px;
    height: 136px;
    background-repeat: no-repeat;
    display: flex;
    background-position: center;

}
.capgemini{
    background-image: url("/img/image 29.png");
    border-right: 1px solid #BABABA;

    width: 196px;
    height: 136px;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
}
.ge{
    background-image: url("/img/image 30.png");
    width: 196px;
    height: 136px;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
}
.petrobras{
    background-image: url("/img/image 31 (1).png");
    border-left: 1px solid #BABABA;
    width: 196px;
    height: 136px;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;

}
.other-partners-section{
    margin-top: 148px;
    display: flex;
    justify-content: space-between;
}
.other-partners-title{

    margin: 80px 0 32px 0 ;
    width: 636px;
    color: #000;
    font-family: Quicksand;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 48px */

}
.plans-section{
 background-color: #DBF3ED;
    margin: 0 auto;
}
.plans-title{
    color: #000;
    text-align: center;
    font-family: Quicksand;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 48px */
    padding: 80px 0 40px 0px;
}
.card-head{
    color: #000;
    text-align: center;
    font-family: Quicksand;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 28.8px */
    padding-bottom: 27px;

}
.card-description{
    color: #000;
    text-align: center;
    font-family: Quicksand;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 19.2px */
    padding-bottom: 27px;
}
.plan-price{
    color: #000;
    text-align: center;
    font-family: Quicksand;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 48px */
    padding-bottom: 75px;
}
.last-plan-price{
    color: #000;
    text-align: center;
    font-family: Quicksand;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 48px */
    padding-bottom: 44px;
}
.price-period{
    color: #000;
    font-family: Quicksand;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 19.2px */
    text-transform: uppercase;

}
.card-button{

    border-radius: 4px;
    background: #0F8277;
    width: 132px;
    height: 40px;
    border: none;
    color: #EEE;
    text-align: center;
    font-family: Quicksand;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 52px;

}
.card-button a{
    text-decoration: none;
    color: white;
}
.description-list{
    border-top:2px solid #0F8277;
    padding: 48px;
}
.description-list li{

    background-size: auto;
    color: #000;
    font-family: Quicksand;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 19.2px */
    padding-bottom: 18px;
    list-style-type: revert;
}
.first-plans-card{
    width: 304px ;
display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 24px;
    border: 1px solid #0F8277;
    background: #FDFDFD;
    padding: 56px;
}
.second-plans-card{
    width: 304px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 24px;
    border: 1px solid #0F8277;
background-color: #0F8277;
    padding: 56px;
}
.second-card-head{

        color: #ffffff;
        text-align: center;
        font-family: Quicksand;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%; /* 28.8px */
        padding-bottom: 27px;


}
.second-card-description{
    color: #ffffff;
    text-align: center;
    font-family: Quicksand;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 19.2px */
    padding-bottom: 27px;
}
.second-plan-price{
    color: #ffffff;
    text-align: center;
    font-family: Quicksand;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 48px */
    padding-bottom: 30px;
}
.second-price-period{
    color: #ffffff;
    font-family: Quicksand;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 19.2px */
    text-transform: uppercase;



}
.second-card-button{

    border-radius: 4px;
    background: #0F8277;
    width: 132px;
    height: 40px;
    border: 1px solid white;
    color: #EEE;
    text-align: center;
    font-family: Quicksand;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;

    margin-bottom: 48px;
}
.second-card-button a{
    text-decoration: none;
    color: white;
}
.second-description-list{
    border-top:2px solid #ffffff;
    padding: 48px;
}
.second-description-list li{

    background-size: auto;
    color: #ffffff;
    font-family: Quicksand;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 19.2px */
    padding-bottom: 18px;
}
.plans-wrapper{
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
}
.grid-container{
    display: grid;
    grid-template-columns: 306px 306px 306px 306px;
gap: 24px;
    padding-bottom: 76px;
}
.our-students{
    width: 306px;

}
 .main-photo{
   grid-row: 1/3;
     grid-column: 2/4;
     width: 636px;

}
 .contact-section{

     background-image: url("/img/image 32.png");
     height: 678px;
     background-repeat: no-repeat;
     background-size: 100%;
     display: flex;
     align-items: center;
     justify-content: center;




 }
 .form{
     width: 518px;
     height: 580px;
     border-radius: 24px;
     background-color: #DBF3ED;
     padding: 30px;


 }
 .form-description{
     color: #000;
     text-align: center;
     font-family: Quicksand;
     font-size: 20px;
     font-style: normal;
     font-weight: 500;
     line-height: 120%; /* 24px */
     width: 505px;
     margin-bottom: 24px;
 }
 .form-title{
     color: #000;
     text-align: center;
     font-family: Quicksand;
     font-size: 40px;
     font-style: normal;
     font-weight: 700;
     line-height: 120%; /* 48px */
     text-align: center;
     padding-bottom: 24px;
 }
 label{
     color: #000;
     font-family: Quicksand;
     font-size: 22px;
     font-style: normal;
     font-weight: 600;
     line-height: 24px; /* 109.091% */

 }
 input{
     border-radius: 4px;
     border: 1px solid #0F8277;
     background: #FDFDFD;
     width: 505px;
     height: 48px;
     color: #8E8E8E;
     font-family: Quicksand;
     font-size: 16px;
     font-style: normal;
     font-weight: 500;
     line-height: 24px; /* 150% */
 }
 textarea{
     width: 505px ;
     height: 104px;
     border-radius: 4px;
     border: 1px solid #0F8277;
     background: #FDFDFD;
     color: #8E8E8E;
     font-family: Quicksand;
     font-size: 16px;
     font-style: normal;
     font-weight: 500;
     line-height: 24px; /* 150% */
     padding-left: 10px;
     padding-top: 10px;
 }
 .input{
     margin-bottom: 24px;
 }
 .footer-logo{
     color: #000;
     font-family: Quicksand;
     font-size: 32px;
     font-style: normal;
     font-weight: 700;
     line-height: 120%; /* 38.4px */
     letter-spacing: 0.64px;
 }
 .inst{
     background-image: url("/img/Frame.svg");
     width: 32px;
     height: 32px;
     margin-right: 24px;
 }
 .fb{
     background-image: url("/img/Frame (1).svg");
     width: 32px;
     height: 32px;
     margin-right: 24px;
 }
 .linkedin{
     background-image: url("/img/Frame (2).svg");
     width: 32px;
     height: 32px;
     margin-right: 24px;
 }
 .social-networks{
     display: flex;
 }
 .footer-top{
   margin-bottom: 24px;
     display: flex;
     justify-content: space-between;
 }
 .left-copyright{

     color: #000;
     font-family: Quicksand;
     font-size: 16px;
     font-style: normal;
     font-weight: 500;
     line-height: 120%; /* 19.2px */
     width: 306px;

 }
 .right-copyright{

     color: #000;
     font-family: Quicksand;
     font-size: 16px;
     font-style: normal;
     font-weight: 500;
     line-height: 120%; /* 19.2px */

     display: flex;
     align-items: flex-end;
 }
 .footer-bottom{
     margin-top: 16px;
     display: flex;
     justify-content: space-between;


 }
 .description-list img{
     padding-right: 20px;
 }
 .second-description-list img{
     padding-right: 20px;
 }
 footer{
     padding: 60px 0 60px 0;
 }